name: HAOS-CN
on:
  workflow_dispatch:
    inputs:
      targets:
        description: 'Targets to build (comma separated)'
        required: false
        default: 'rpi3_64,rpi4_64,rpi5_64,ova,generic_x86_64,generic_aarch64,green,yellow,panther_x2,ihost,orangepi_cm4,lubancat-2,orangepi_5b,radxa_rock5b'

#  schedule:
#    - cron: '0 18 26 * *'
#  watch:
#    types: [started]

#env:
#  RUN_VALIDATION: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            TARGETS="${{ github.event.inputs.targets }}"
          else
            TARGETS="rpi3_64,rpi4_64,rpi5_64,ova,generic_x86_64,generic_aarch64,green,yellow,panther_x2,ihost,orangepi_cm4,lubancat-2,orangepi_5b,radxa_rock5b"
          fi
          JSON=$(echo "$TARGETS" | jq -R -c 'split(",")')
          echo "matrix=$JSON" >> $GITHUB_OUTPUT
    permissions:
      contents: read
      pull-requests: read
      packages: write

  build:
    needs: prepare
    runs-on: ubuntu-latest
    name: Build ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
      - name: Echo target
        run: echo "Building for ${{ matrix.target }}"
        #target: [generic_aarch64,generic_x86_64]

    #steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Checkout private repo
        uses: actions/checkout@v5
        with:
          repository: desmond-dong/haos-cn-scripts
          token: ${{ secrets.GH_PAT }}
          path: private

      - name: Run only on main
        if: github.ref_name == 'main'
        id: get_haos_version
        run: |
          ver=$(curl -s https://api.github.com/repos/home-assistant/operating-system/releases/latest | jq -r '.tag_name')
          echo "CURRENT_VERSION=${ver}" >> $GITHUB_ENV
  
      - name: Run only on dev
        if: github.ref_name == 'dev'
        id: get_haos_version_dev
        run: |
          ver=$(curl -s https://version.home-assistant.io/dev.json | jq -r '.hassos.ova')
          echo "CURRENT_VERSION=${ver}"
          echo "CURRENT_VERSION=${ver}" >> $GITHUB_ENV
        
      - name: Initialization environment and Free up disk space
        run: |
          sudo timedatectl set-timezone "Asia/Shanghai"
          chmod +x private/*.sh
          sudo private/release_space.sh
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Clone source code and Change Settings.
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            git clone https://github.com/home-assistant/operating-system.git -b main
          else
            git clone https://github.com/home-assistant/operating-system.git
          fi
          cp -r buildroot-external operating-system
          cd operating-system
          git submodule update --init

      - name: Run private build script
        run: |
          chmod +x private/*.sh
          private/haos.sh
        # 5YWz5LqO44CM5peg5Li65pm66IO9IC0g5p2O5raM44CN6L+d6IOM5byA5rqQ57K+56We55qE6K+05piOCue7j+afpeivge+8jEdpdEh1YueUqOaItyDCoGh0dHBzOi8vZ2l0aHViLmNvbS93dXd3ZWl6bsKg77yMwqBodHRwczovL2dpdGh1Yi5jb20vbGl5b25nNzYzNDM1NzIwwqDku6Xlj4pHaXRlZei0puWPtyDCoGh0dHBzOi8vZ2l0ZWUuY29tL3d1d3puwqDjgIHCoGh0dHBzOi8vZ2l0ZWUuY29tL2xpLXlvbmcxMjPCoO+8ieOAgVFR5Y+3IDc2MzQzNTcyMO+8iEhhc3NiaWFu6K665Z2bwqBodHRwczovL2Jicy5oYXNzYmlhbi5jb20vaG9tZS5waHA/bW9kPXNwYWNlJnVpZD0xMDg4MzbCoO+8ieOAgeWFs+iBlOmCrueusSDCoHd1d2VpemhpbmVuZ0AxNjMuY29twqAgCumDqOWIhue7huiKguaKq+mcsuS6juWFrOS8l+WPtzrCoGh0dHBzOi8vbXAud2VpeGluLnFxLmNvbS9zP19fYml6PU16VXpOVEV4TURFMk1nwqAK5Zyo5YWs5byA5omY566h55qE5Luj56CB6aG555uu5Lit5a2Y5Zyo5pyq57uP5o6I5p2D5L2/55So5LuW5Lq65Y6f5Yib5byA5rqQ5YaF5a6544CB5pyq5L6d5byA5rqQ5Y2P6K6u5qCH5rOo5p2l5rqQ55Sa6Iez5Yig6Zmk5rKf6YCa6K6w5b2V55qE6KGM5Li644CCCuacrOS6uuS9nOS4uuWOn+S9nOiAhe+8jOabvuaYjuehruimgeaxguWFtumBteW+quW8gOa6kOeyvuelnuagh+azqOWOn+Wni+WHuuWkhO+8jOS9huWFtuS4jeS7heacquWxpeihjOWfuuacrOe9suWQjeS5ieWKoe+8jOWPjeiAjOWIoOmZpOiBlOezu+iusOW9le+8jOW5tuWwhuS7luS6uui0oeeMrueahOS7o+eggee7p+e7reS7peKAnOiHquacieaIkOaenOKAneW9ouW8j+WPkeW4g+OAguatpOexu+ihjOS4uui/neiDjOS6huW8gOa6kOekvuWMuuKAnOWwiumHjeWOn+WIm+OAgeW8gOaUvuWFseS6q+KAneeahOaguOW/g+WOn+WIme+8jOaNn+Wus+S6huaKgOacr+WNj+S9nOeahOS/oeS7u+WfuuehgOOAggrkuLrpmLLmraLmraTnsbvkuovku7blho3mrKHlj5HnlJ/vvIzmnKzkurrnm7jlhbPpobnnm67kuI3lvpflj6rog73ph4fnlKjlvIDmupDkvYbkuI3lvIDmlL7miYDmnInov4fnqIvvvIzmirHmrYkK
        env:
          MATRIX_TARGET: ${{matrix.target}}
          RAUC_CERTIFICATE: ${{ secrets.RAUC_CERTIFICATE }}
          RAUC_PRIVATE_KEY: ${{ secrets.RAUC_PRIVATE_KEY }}

 
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build 
        shell: 'script -q -e -c "bash {0}"'
        id: build
        run: |
          sleep $((RANDOM % 600))    
          cd operating-system
          max_retries=3
          count=0
          until scripts/enter.sh make -j$(($(nproc) + 1)) ${{matrix.target}}; do
            count=$((count + 1))
            if [ $count -ge $max_retries ]; then
              echo "Build failed after $count attempts."
              exit 1
            fi
            echo "Build failed. Retrying in 30s... (Attempt $count/$max_retries)"
            sleep 30
          done
          
      - name: Get current date
        id: current_date
        run: |
          current_date=$(date +'%Y-%m-%d')
          echo "CURRENT_DATE=${current_date}" >> $GITHUB_ENV
      
      - name: Use current date
        run: echo "Current date is $CURRENT_DATE"

      - name: Set tag and body for release
        if: github.ref_name == 'main'
        run: |
          echo "RELEASE_TAG=${CURRENT_VERSION}" >> $GITHUB_ENV
          echo "RELEASE_BODY=为中国地区专门加速的Home Assistant OS，不修改任何系统内的其它任何信息，所有的修改都以加速为目的。公众号：老王杂谈说，欢迎关注" >> $GITHUB_ENV

      - name: Set tag and body for dev release
        if: github.ref_name != 'main'
        run: |
          echo "RELEASE_TAG=dev-${CURRENT_VERSION}" >> $GITHUB_ENV
          echo "RELEASE_BODY=此为开发版，请不要当正式版使用" >> $GITHUB_ENV

      - name: Upload images to release
        id: upload-release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.UPLOAD_TOKEN }}
          file: operating-system/output/images/haos_*
          tag: ${{ env.RELEASE_TAG }}
          overwrite: true
          file_glob: true
          body: ${{ env.RELEASE_BODY }}
          prerelease: ${{ github.ref != 'refs/heads/main' }}
